.gallery{
  max-width: 1184px;
  min-width: 288px;
  width: 100%;
  margin: 92px 0;
}


@media screen and (max-width: 1184px) {
  .gallery {
    width: calc(100% - 24px * 2);
    margin: 88px 24px;
  }
}

@media screen and (max-width: 500px) {
  .gallery {
    width: calc(100% - 16px * 2);
    margin: 62px 16px;
  }
}
