.places {
  min-width: 320px;
  max-width: 987px;
  background-color: #2A2C2F;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 100px;
}

@media screen and (max-width: 1032px) {
  .places {
    margin: 0 24px;
  }
}

@media screen and (max-width: 700px) {
  .places {
    margin: 0;
  }
}
