.place__buy-button {
  grid-area: place__buy-button;
  max-width: 288px;
  height: 48px;
  background: #0278FE;
  border: 0;
  border-radius: 4px;
  padding: 13px 20px;
  color: white;
  font-family: 'Inter', 'Calibri', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
}

.place__buy-button:hover {
  background: #0063D2;
}

@media screen and (max-width: 700px) {
  .place__buy-button {
    padding: 0 16px;
    margin: 30px auto 0;
  }
}
