.place__buy-button {
  grid-area: place__buy-button;
  max-width: 288px;
  height: 48px;
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  background: #0278FE;
  border-radius: 4px;
  padding: 13px 20px;
}

.place__buy-button:hover {
  background: #0063D2;
}

@media screen and (max-width: 700px) {
  .place__buy-button {
    margin: 30px auto 48px;
  }
}
