.place__address {
  grid-area: place__address;
  max-width: 92%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Calibri', sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .place__address {
    font-size: 42px;
    line-height: 46px;
  }
}
