.logo {
  max-width: 271px;
  align-self: center;
  margin: 34px auto calc(198px - 34px - 72px);
}

@media screen and (max-width: 600px) {
  .logo {
    max-width: 200px;
    margin: 20px auto calc(122px - 20px - 51px);
  }
}
