.footer__buy-button {
  max-width: 177px;
  height: 48px;
  padding: 13px 20px;
  background: #0278FE;
  border-radius: 4px;
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 0 45px 0;
}
