.lead__image {
  width: 100%;
  min-width: 320px;
}

@media screen and (max-width: 768px) {
  .page__wrapper .lead__image {
    width: 100vw;
    margin: 0 -24px;
  }
}

@media screen and (max-width: 320px) {
  .page__wrapper .lead__image {
    width: 100vw;
    margin: 0 -16px;
  }
}
