.intro {
  max-width: 984px;
  min-width: 288px;
  margin: 92px 100px 66px;
  padding-right: calc(984px - 785px);
  background-color: #2A2C2F;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1032px) {
  .intro {
    margin: 88px 24px 38px;
    padding-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .intro {
    margin: 64px 16px 53px;
  }
}
