.cover__text {
  margin: 32px 0;
  max-width: 230px;
  font-family: 'Inter', 'Calibri', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 475px) {
  .cover__text {
    max-width: 180px;
    margin: 16px 0;
    font-size: 14px;
    line-height: 16px;
  }
}
