.lead__subtitle {
  margin: 32px 24px 64px;
  max-width: 720px;
  min-width: 288px;
  font-family: 'Inter', 'Calibri', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  align-self: center;
}

@media screen and (max-width: 600px) {
  .lead__subtitle {
    font-size: 25px;
    line-height: 30px;
  }
}

@media screen and (max-width: 500px) {
  .lead__subtitle {
    font-size: 20px;
    line-height: 25px;
    margin: 32px 16px 64px;
  }
}

@media screen and (max-width: 400px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
