.cover {
  min-width: 320px;
  width: 100%;
  /* max-width: 100vw; */

  min-height: 740px;
  margin: 40px auto 0;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../../images/cover-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(42, 44, 47, 0.3);
  /* mix-blend-mode: normal; */
}

.cover:hover {
  background-blend-mode: overlay;
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 768px) {
  .cover {
    width: calc(100% + 24px * 2);
    margin: 0 -24px;
  }
}

@media screen and (max-width: 475px) {
  .cover {
    width: calc(100% + 16px * 2);
    margin: 0 -16px;
    min-height: 254px;
  }
}
