.cover {
  min-width: 320px;
  width: 100%;
  margin: 40px auto 0;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 740px;
  background-image: url("../../images/cover-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2A2C2F;
}

.cover:hover {
  background-blend-mode: overlay;
}


@media screen and (max-width: 768px) {
  .cover {
    width: calc(100% + 24px * 2);
    margin: 0 -24px;
  }
}

@media screen and (max-width: 475px) {
  .cover {
    width: calc(100% + 16px * 2);
    margin: 0 -16px;
    height: 254px;
  }
}
