.cover__transbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1184px;
  min-width: 320px;
  width: 100%;
  min-height: 740px;
  text-align: center;
  background-color: rgba(42, 44, 47, 0.3);
  background-size: cover;
}

.cover__transbox:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 475px) {
  .cover__transbox {
    min-height: 254px;
  }
}
