.cover__buy-button {
  max-width: 177px;
  min-height: 48px;
  padding: 13px 20px;
  background: #0278FE;
  border: 0;
  border-radius: 4px;
  color: white;
  font-family: 'Inter', 'Calibri', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

.cover__buy-button:hover {
  background: #0063D2;
}
