.place {
  margin: 0 0 80px;
  min-width: 320px;
  max-width: 987px;
  background-color: #2A2C2F;
  display: grid;
  grid-template-areas:
    "place__address place__artist"
    "place__picture place__description"
    "place__buy-button place__description";
  grid-template-columns: 1fr 1.05fr;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  grid-row-gap: 48px;
  grid-column-gap: 40px;
}

@media screen and (max-width: 1000px) {
  .place {
    margin-bottom: 72px;
    grid-row-gap: 46px;
    grid-column-gap: 28px;
    grid-template-columns: 1fr 1.03fr;
  }
}

@media screen and (max-width: 700px) {
  .place {
    margin-bottom: 50px;
    grid-template-areas:
      ". place__address ."
      ". place__artist ."
      "place__picture place__picture place__picture"
      ". place__description ."
      ". place__buy-button .";
    grid-row-gap: 30px;
    grid-column-gap: 0;
    grid-template-columns: 24px auto 24px;
  }
}

@media screen and (max-width: 500px) {
  .place {
    grid-template-columns: 16px auto 16px;
  }
}

.place:nth-last-child(1) {
  margin-bottom: 0;
}
